*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 25px;
}

.github-profile {
  display: flex;
  width: 300px;
  margin-bottom: 12px;
}

.github-profile img {
  max-width: 75px;
  border-radius: 5px;
}

.info {
  margin-left: 20px;
}
.info .name {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}
.info .company {
  font-size: 18px;
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border: 1px solid #cdcdcd;
  padding: 25px;
  border-radius: 5px;
}

.form input {
  margin-right: 10px;
  border: 1px solid #cdcdcd;
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
}

.form input::placeholder {
  color: gray;
} 

.form button {
  border: 1px solid #cdcdcd;
  height: 30px;
  font-weight: bold;
  padding: 5px;
}